# Ignore Internal Files
TODO.md

# Ignore Text Editor Settings
.vscode/

# Ignore BetterAchievements folder
config/BetterAchievements/*
!config/BetterAchievements/BetterAchievements.cfg

# Ignore Biomes O Plenty text file
config/biomesoplenty/biomes/Put biome config files here

# Ignore BiomeTweaker output files, only needed for development
config/BiomeTweaker/output/*

# Ignore JustEnoughItems internal files
config/JEI/worldSettings.cfg

# Ignore old JustEnoughResources files
config/jeresources/world-gen-old-*