config/armorplus/*

config/BetterAchievements/*
!config/BetterAchievements/BetterAchievements.cfg

config/biomesoplenty/biomes/Put biome config files here

config/brandon3055/*
!config/brandon3055/DraconicEvolution.cfg

config/gendustry/readme.txt

config/IrishLuck/Reference/*
config/IrishLuck/READ-ME-IMPORTANT.txt
